

div.container {
	border: 2px solid gray;
	line-height: 150%;
	border-bottom: none;
	margin-right:100px;
	margin-left: 100px;
}

.header {
	padding: 0.5em;
	color: black;
	background-color: powderblue;
	clear: left;
	text-align: left;
}

.footer {
	padding: 0.5em;
	color: black;
	background-color: powderblue;
	height: 20px;
	border: 2px solid gray;
	margin-left: 100px;
	margin-right: 100px;
}

h1.header {
	padding: 0;
	margin: 0;
	text-align: center;
}

div.left {
	float: left;
	width: 160px;
	margin: auto;
	padding: 1em;
	text-align: center;
}

div.content {
	margin-left: 180px;
	border-left: 2px solid gray;
	padding: 1em;
	text-align: left;
	height: 780px;
}

form {
	border: 1px solid gray;
	width: 250px;
}

label {
	margin-left: 10px;
}

input[type=text], input[type=password] {
	margin-left: 10px;
}

table {
	margin-left: -40px;
}



logbutton{
	 background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}




	
	
	
button {
	background-color: #709de5;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 200px;
	}	
	
	td, th {
		font-size: 15px;
		padding-left: 10px;
	}
	table {
		margin-left: 30px;
	}
	
		
		
	ul {
            font-family: "Comic Sans MS";
            font-size: 14px;
            margin: 0px;
            padding: 0px;
            list-style: none;
			
			
        }
        ul li {
            display: block;
            position: relative;
            float: right;
        }
        li ul { display: none; }
        ul li a {
            display: block;
            text-decoration: none;
            color: #ffffff;
            border-top: 1px solid #ffffff;
            padding: 5px 15px 5px 15px;
            background: #9ba4b2;
            margin-left: 1px;
            white-space: nowrap;
			float:right;
        }

        ul li a:hover { background: #c5ccd8; }
		
        li:hover ul { 
            display: block; 
        }
        li:hover li { 
            font-size: 11px;
        }
        li:hover a { background: #c5ccd8; }
        li:hover li a:hover { background: #95A9B1; }
		

.loginform {
	margin-left: 10px;
	width: 250px;
}

.loginform form {
	text-align: center;
	padding: 10px;
}

.left form {
	width: 145px;
}